close_notice:
  name: Close notice
  description: Closes one or all notices on OPNsense
  fields:
    id:
      name: Notice ID
      description: "The notice ID to clear. Enter 'all' to clear all notices."
      required: true
      advanced: false
      example: "all"
      default: "all"
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

start_service:
  name: Start service
  description: Starts an OPNsense service
  fields:
    service_id:
      name: Service ID or Name
      description: "The ID or name of the service. Like: udpbroadcastrelay/3, haproxy, dhcp, etc."
      required: false
      advanced: false
      default: ""
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

stop_service:
  name: Stop service
  description: Stops an OPNsense service
  fields:
    service_id:
      name: Service ID or Name
      description: "The ID or name of the service. Like: udpbroadcastrelay/3, haproxy, dhcp, etc."
      required: false
      advanced: false
      default: ""
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

restart_service:
  name: Restart service
  description: Restarts an OPNsense service
  fields:
    service_id:
      name: Service ID or Name
      description: "The ID or name of the service. Like: udpbroadcastrelay/3, haproxy, dhcp, etc."
      required: false
      advanced: false
      default: ""
      selector:
        text:
    only_if_running:
      name: Only if Running
      description: Restart the service only if it is already running.
      required: true
      advanced: false
      example: false
      default: false
      selector:
        boolean:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

system_halt:
  name: Halt system
  description: Halts the OPNsense Router
  fields:
    device_id:
      name: OPNsense Device
      description: Only needed if there is more than one OPNsense Router. Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      required: false
      selector:
        device:
          multiple: false
          filter:
            - integration: opnsense
          entity:
            - domain: sensor
    entity_id:
      name: OPNsense Entity
      description: Only needed if there is more than one OPNsense Router. Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      example: "sensor.opnsense_interface_lan_status"
      required: false
      selector:
        entity:
          multiple: false
          filter:
            - integration: opnsense
              domain: sensor

system_reboot:
  name: Reboot system
  description: Reboots the OPNsense Router
  fields:
    device_id:
      name: OPNsense Device
      description: Only needed if there is more than one OPNsense Router. Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      required: false
      selector:
        device:
          multiple: false
          filter:
            - integration: opnsense
          entity:
            - domain: sensor
    entity_id:
      name: OPNsense Entity
      description: Only needed if there is more than one OPNsense Router. Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      example: "sensor.opnsense_interface_lan_status"
      required: false
      selector:
        entity:
          multiple: false
          filter:
            - integration: opnsense
              domain: sensor

send_wol:
  name: Send WOL
  description: Sends a wake-on-lan magic packet
  fields:
    interface:
      name: Interface Name
      description: "The name of the interface. Like: wan|lan|opt1|opt2|.."
      required: true
      advanced: false
      example: ""
      selector:
        text:
    mac:
      name: MAC Address
      description: The target mac address.
      required: true
      advanced: false
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

reload_interface:
  name: Reload an Interface
  fields:
    interface:
      name: Interface Name
      description: "The name of the interface. Like: wan|lan|opt1|opt2|.."
      required: true
      advanced: false
      example: ""
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor
