close_notice:
  name: Close notice
  description: Closes one or all notices on OPNsense
  fields:
    id:
      name: Notice ID
      description: "The notice ID to clear. Enter 'all' to clear all notices."
      required: true
      advanced: false
      example: "all"
      default: "all"
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

start_service:
  name: Start service
  description: Starts an OPNsense service
  fields:
    service_id:
      name: Service ID or Name
      description: "The ID or name of the service. Like: udpbroadcastrelay/3, haproxy, dhcp, etc."
      required: false
      advanced: false
      default: ""
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

stop_service:
  name: Stop service
  description: Stops an OPNsense service
  fields:
    service_id:
      name: Service ID or Name
      description: "The ID or name of the service. Like: udpbroadcastrelay/3, haproxy, dhcp, etc."
      required: false
      advanced: false
      default: ""
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

restart_service:
  name: Restart service
  description: Restarts an OPNsense service
  fields:
    service_id:
      name: Service ID or Name
      description: "The ID or name of the service. Like: udpbroadcastrelay/3, haproxy, dhcp, etc."
      required: false
      advanced: false
      default: ""
      selector:
        text:
    only_if_running:
      name: Only if Running
      description: Restart the service only if it is already running.
      required: true
      advanced: false
      example: false
      default: false
      selector:
        boolean:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

system_halt:
  name: Halt system
  description: Halts the OPNsense Router
  fields:
    device_id:
      name: OPNsense Device
      description: Only needed if there is more than one OPNsense Router. Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      required: false
      selector:
        device:
          multiple: false
          filter:
            - integration: opnsense
          entity:
            - domain: sensor
    entity_id:
      name: OPNsense Entity
      description: Only needed if there is more than one OPNsense Router. Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      example: "sensor.opnsense_interface_lan_status"
      required: false
      selector:
        entity:
          multiple: false
          filter:
            - integration: opnsense
              domain: sensor

system_reboot:
  name: Reboot system
  description: Reboots the OPNsense Router
  fields:
    device_id:
      name: OPNsense Device
      description: Only needed if there is more than one OPNsense Router. Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      required: false
      selector:
        device:
          multiple: false
          filter:
            - integration: opnsense
          entity:
            - domain: sensor
    entity_id:
      name: OPNsense Entity
      description: Only needed if there is more than one OPNsense Router. Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
      example: "sensor.opnsense_interface_lan_status"
      required: false
      selector:
        entity:
          multiple: false
          filter:
            - integration: opnsense
              domain: sensor

send_wol:
  name: Send WOL
  description: Sends a wake-on-lan magic packet
  fields:
    interface:
      name: Interface Name
      description: "The name of the interface. Like: wan|lan|opt1|opt2|.."
      required: true
      advanced: false
      example: ""
      selector:
        text:
    mac:
      name: MAC Address
      description: The target mac address.
      required: true
      advanced: false
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

reload_interface:
  name: Reload an Interface
  description: ""
  fields:
    interface:
      name: Interface Name
      description: "The name of the interface. Like: wan|lan|opt1|opt2|.."
      required: true
      advanced: false
      example: ""
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

generate_vouchers:
  name: Generate Captive Portal Vouchers
  description: ""
  fields:
    validity:
      name: Validity
      description: "If manually entering a duration, enter in seconds"
      required: true
      advanced: false
      example: ""
      default: "14400"
      selector:
        select:
          multiple: false
          custom_value: true
          mode: dropdown
          options:
            - label: "4 hours"
              value: "14400"
            - label: "8 hours"
              value: "28800"
            - label: "1 day"
              value: "86400"
            - label: "2 days"
              value: "172800"
            - label: "3 days"
              value: "259200"
            - label: "4 days"
              value: "345600"
            - label: "5 days"
              value: "432000"
            - label: "6 days"
              value: "518400"
            - label: "1 week"
              value: "604800"
            - label: "2 weeks"
              value: "1209600"
    expirytime:
      name: Expires in
      description: "If manually entering a duration, enter in seconds"
      required: true
      advanced: false
      example: ""
      default: "0"
      selector:
        select:
          multiple: false
          custom_value: true
          mode: dropdown
          options:
            - label: "never"
              value: "0"
            - label: "6 hours"
              value: "21600"
            - label: "12 hours"
              value: "43200"
            - label: "1 day"
              value: "86400"
            - label: "2 days"
              value: "172800"
            - label: "3 days"
              value: "259200"
            - label: "4 days"
              value: "345600"
            - label: "5 days"
              value: "432000"
            - label: "6 days"
              value: "518400"
            - label: "1 week"
              value: "604800"
            - label: "2 weeks"
              value: "1209600"
            - label : "3 weeks"
              value: "1814400"
            - label: "1 month"
              value: "2419200"
            - label: "2 months"
              value: "4838400"
            - label: "3 months"
              value: "7257600"
    count:
      name: Number of vouchers
      description: ""
      required: true
      advanced: false
      default: 1
      example: ""
      selector:
        number:
          min: 1
          step: 1
          mode: box
    vouchergroup:
      name: Groupname
      description: ""
      required: true
      advanced: false
      default: "Home Assistant"
      example: ""
      selector:
        text:
    voucher_server:
      name: Captive Portal Voucher Server
      description: "OPTIONAL: Only needed if there is more than one Captive Portal Voucher Server"
      required: false
      advanced: false
      example: ""
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

kill_states:
  name: Kill States
  description: ""
  fields:
    ip_addr:
      name: IP Address
      description: "The IP Address to kill all states for. ipv4 or ipv6 accepted"
      required: true
      advanced: false
      example: "192.168.0.100"
      selector:
        text:
    multiple_opnsense:
      name: Only needed if there is more than one OPNsense Router
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor

toggle_alias:
  name: Toggle Alias
  description: ""
  fields:
    alias:
      name: Alias Name
      description: ""
      required: true
      advanced: false
      example: "iphones"
      selector:
        text:
    toggle_on_off:
      name: Alias Action
      description: ""
      required: true
      advanced: false
      default: "toggle"
      selector:
        select:
          multiple: false
          custom_value: false
          mode: list
          options:
            - label: "Toggle"
              value: "toggle"
            - label: "On"
              value: "on"
            - label: "Off"
              value: "off"
    multiple_opnsense:
      name: "Only needed if there is more than one OPNsense Router"
      collapsed: true
      fields:
        device_id:
          name: OPNsense Device
          description: Select the OPNsense Router to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          required: false
          selector:
            device:
              multiple: false
              filter:
                - integration: opnsense
              entity:
                - domain: sensor
        entity_id:
          name: OPNsense Entity
          description: Pick any sensor in the OPNsense Router you want to call the command on. If not specified, the command will be sent to all OPNsense Routers.
          example: "sensor.opnsense_interface_lan_status"
          required: false
          selector:
            entity:
              multiple: false
              filter:
                - integration: opnsense
                  domain: sensor
