/bin
/lib
/pyvenv.cfg
*.pyc
.vscode
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.tox
custom_components/*/__pycache__/
*.pyc
.coverage
coverage.xml
