__pycache__
.coverage
.coverage.*
.DS_Store
.env
.mypy_cache
.pytest_cache
.qodo
.ruff_cache
.tox
.venv
.vscode
[Dd]esktop.ini
*.lnk
*.pyc
pyvenv.cfg
$RECYCLE.BIN/
coverage.xml
coverage.json
env.bak/
env/
ENV/
htmlcov/
junit.xml
pytest.xml
pythonenv*
Thumbs.db
uv.lock
venv.bak/
venv/
*.egg-info/
